*{
  color:white;  
}
form{
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    margin-left: 5vw;
    padding: 1vw;
}
#search input{
    width: 10vw;
    padding: 0.5vw;
    border-radius: 0.7vw;
    outline: none;
    border: 0.1vw solid grey;
    color: white;
    box-shadow: 1vw 1vw #0d1117;
    
}
.text input{
    color: white;
    padding: 0.5vw;
    width: 20vw;
    border: 0.1vw solid grey;
    border-radius: 0.7vw;
   
}
input::placeholder{
    color: white;
}
ul li{
    list-style: none;
    padding-bottom: 1vw;
}
a{
    color: #53a5fc;
    margin-bottom: 1vw;
    margin-top: 1vw;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 500;
}
ul {
    border-top: 0.1vw solid #21262d;
    border-bottom: 0.1vw solid #21262d; 
}
span{
    list-style-type: circle
}
a:hover{
    text-decoration: underline;
}