<div class="container">  
    <div class="navbar">
        <h1><i class="fa-brands fa-github"></i> &nbsp;Github User Search</h1>
    </div>
   <div class=" row">
      <div class="column1">
        <app-github-user  ></app-github-user>
      </div>
      <div class="column2">
        <app-github-repos ></app-github-repos>
      </div>
    
    </div>
<!-- <div class="repos">
  <h1>Popular Repositories</h1>
  <div class="card">
    <h4>Hello-World</h4>
    <p>first experience</p>
 </div>
 <div class="card">
  <h4>Akan-Names</h4>
  <p>first experience</p>
  <li>language</li>
 </div>
 <div class="card">display</div>


</div> -->

  
