.navbar{
    background-color: #161b22;
    width: 100%;
    padding-top: 0.7vw;
    padding-bottom: 0.6vw;
    padding-left: 1vw;
    color: white;
    display: flex;
    padding-right: 1vw;
    margin-bottom: 2vw;
}
.navbar h1{
    background-color: transparent;
}
.link a{
    text-decoration: none;
    padding-top:1vw ;
    padding-right: 3vw;
    font-size: 1.5vw;
    color: white;
    font-weight: 700;
   
}
.link{
    margin-top: 0.7vw;
    background-color: transparent;
    margin-left: 15vw;
}
form{
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    margin-left: 5vw;
    padding: 1vw;
}
#search input{
    width: 10vw;
    padding: 0.5vw;
    border-radius: 0.7vw;
    outline: none;
    border: 0.1vw solid grey;
    color: white;
    box-shadow: 1vw 1vw #0d1117;
    
}
.text input{
    color: white;
    padding: 0.5vw;
    width: 20vw;
    border: 0.1vw solid grey;
    border-radius: 0.7vw;
   
}
input::placeholder{
    color: white;
}
.row{
    display: flex;
    width: 100%;
}
.commits img{
    margin-top: 12vw;
    display: inline-block;
    margin-left: 10vw;
}
.repos {
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 2vw;
   
}
.header {
    text-align: center;
    color: white;
    margin-bottom: 3vw;
}
.card{
    border: 0.1vw solid grey;
    width: 25%;
    padding: 1vw;
    border-radius: 0.8vw;
}
.card h4{
    color: #53a5fc;
    padding-bottom: 0.5vw;
}
.langauge {
    text-align: center;
}
.contact h3{
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.frame img{
    margin-left:12vw;
    justify-content: space-around;
}
.frame h3{
    margin-bottom: 2vw;
}
.auto{
    /* margin-top: -8vw; */
    margin-bottom: 2vw;
    margin-left: 10vw;
    
}
.auto img{
    padding-left: 8vw;
}
.footer{
    color: white;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.data1{
    color: white;
    margin-top: 8vw;
    margin-left: 8vw;
}
.data{
    margin-left: 10vw;
}
.data1 p{
    padding-bottom: 1vw;
    text-align: center;
}
.profile{
    display: flex;
    margin-bottom: 2vw;
    
}