<div class="form1" >
  <form  (submit)="searchRepos()">
      <div class="text">
        <input [formControl]="name" type="text" placeholder="Your Github Username" required class="">&nbsp;&nbsp;
      </div>
     
      <div id="search">
        <input type="submit" value="Search">
      </div>
  </form>
</div>
<div class="new1" >
    <ul appHighlight *ngFor="let repo of repos">
      <li > <a href="{{repo.html_url}}"target="_blank">{{repo.name}} </a><br><br></li> 
       <li > {{repo.description}}</li>
       <li id="topic" > {{repo.topics}}&ensp;&ensp; <span style=" color: #53a5fc; ;">updated: {{repo.created_at|dateAgo}}</span> </li>
      

    </ul>
</div>