<div class="form2" >
  <form (submit)="searchUsers()">
      <div class="text">
        <input [formControl]="name" type="text" placeholder="Your Github Username" required class="">&nbsp;&nbsp;
      </div>
     
      <div id="search">
        <input type="submit" value="Users">
      </div>
  </form> 
</div> 

 <div class="list">
   <div class="image" >
 
    <img *ngIf="!user"  style="height:auto; border-radius: 50%; border: 0.1vw solid grey;margin-left:13vw;" alt="Avatar" width="240" height="240"   src="../../../assets/jeddy.png"> 
    <img *ngIf="user" style="height:auto;margin-left: 10vw; border-radius: 50%; border: 0.1vw solid grey;" alt="Avatar" width="240" height="240" src="{{user.avatar_url}}" alt="">
  </div>
    <ol >
        <li>{{user.login}}</li>
        <li>{{user.name}}</li>
        <li>{{user.bio}}</li>
        <li >{{user.followers}}&nbsp;&nbsp;followers.&nbsp;&nbsp;{{user.following}}&nbsp;following</li>
        <li><a href="{{user.blog}}">{{user.blog}}</a></li>
        <li>{{user.location}}</li>

    </ol>
</div> 
