<div class="form2" >
  <form (submit)="searchUsers()">
      <div class="text">
        <input [formControl]="name" type="text" placeholder="Your Github Username" required class="">&nbsp;&nbsp;
      </div>
     
      <div id="search">
        <input type="submit" value="Users">
      </div>
  </form> 
</div> 

 <div class="list">
   <div class="image" >
    <img style="height:auto; border-radius: 50%; border: 0.1vw solid grey;margin-left: 17vw;" alt="Avatar" width="240" height="240"   src="https://avatars.githubusercontent.com/u/{{user.id}}">
   </div>
    <ol >
        <li>{{user.login}}</li>
        <li>{{user.name}}</li>
        <li>{{user.bio}}</li>
        <li >{{user.followers}}&nbsp;&nbsp;followers.&nbsp;&nbsp;{{user.following}}&nbsp;following</li>
        <li><a href="{{user.blog}}">{{user.blog}}</a></li>
        <li>{{user.location}}</li>

    </ol>
</div> 
